plugins {
  id 'nf-amazon'
}

aws {
  region = 'us-east-2'
  batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
}

process {
  withLabel: spades {
    container = '620901718958.dkr.ecr.us-east-2.amazonaws.com/spades'
    executor = 'awsbatch'
    queue = 'cpu-on-demand'
    cpus = 4
    memory = '16GB'
  }
  withLabel: nanocaller {
    container = 'genomicslab/nanocaller:1.0.1'
    executor = 'awsbatch'
    queue = 'cpu-on-demand'
    cpus = 4
    memory = '16GB'
  }
  withLabel: nanopanel2 {
    container = '620901718958.dkr.ecr.us-east-2.amazonaws.com/nanopanel2'
    executor = 'awsbatch'
    queue = 'cpu-on-demand'
    cpus = 4
    memory = '16GB'
  }
  withLabel: fastqc {
    container = '620901718958.dkr.ecr.us-east-2.amazonaws.com/fastqc'
    executor = 'awsbatch'
    queue = 'cpu-on-demand'
    cpus = 4
    memory = '16GB'
  }
